# Dependencies
node_modules/
backend/hls_output/
# Environment files
.env
.env.*

# Build output
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

*.pem
dev.db
*.db-journal

./docs
backend/config.json
backend/src/prisma/dev.db

